---
layout: default
---

<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header">
        <h1><a href="index.html"><strong>{{ site.header.title }}</strong> {{ site.header.subtitle }}</a></h1>
        <nav>
            <ul class="navbar" id="navbar">
                <li><a href="/commercial.html">Commercial</a></li>
                <li><a href="/product.html">Product</a></li>
                <li><a href="/lifestyle.html">Lifestyle</a></li>
                <li><a href="/portrait.html">Portrait</a></li>
                <li><a href="/others.html">Others</a></li>
                <li><a href="#footer" class="icon fa-info-circle">About</a></li>
            </ul>
            <a href="javascript:void(0);" class="icon" style="margin-right: 20px;" onclick="toggleNavbar()">
                <i class="fa fa-bars"></i>
            </a>
        </nav>
    </header>

    <!-- Main -->
    <div id="main" data-exif='{{ site.exif }}'>
        {% for image in site.static_files %}
        {% if image.path contains 'images/fulls/Others' %}
        <article class="thumb">
            <a href="{{ site.baseurl }}{{ site.image_fulls_loc }}/Others/{{ image.name }}" class="image">
                <img src="{{ site.baseurl }}{{ site.image_thumbs_loc }}/Others/{{ image.name }}" alt=""
                     data-name="{{ image.name }}"/></a>
            <!--<h2></h2>
            <p></p>-->
        </article>
        {% endif %}
        {% endfor %}
    </div>
</div>
